@use '../../../style/importer' as v;

%inner-size {
    @include v.flex-al-center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.platforms-box {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    text-align: left;

    .links {
        @extend %inner-size;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.125rem;

        a {
            @include v.text-shadow;
            min-width: max-content;
            padding: 5px 15px;
            font-weight: bold;
            color: white;
            background-color: v.$bg-gold;
            border-radius: v.$border-radius-m;
            transition: var(--transition);

            &:hover,
            &:focus-visible {
                color: var(--color-secondary);
                text-shadow: none;
                background-color: var(--color-main);
            }
        }

        @media (width <= 480px) {
            flex-flow: column nowrap;
            align-items: stretch;
            padding: 0 10px 20px;
            text-align: center;
        }
    }

    .platforms {

        .platforms-title {
            padding: 0 20px;
            font-size: 1.5rem;
            font-weight: bold;

            @media (width <= 480px) {
                text-align: center;
            }
        }

        .platforms-list {
            @extend %inner-size;

            .platforms__item {
                @include v.text-shadow;
                padding: 5px 10px;
                font-size: 1.125rem;
                color: white;
                background-color: v.$primary-color;
                border-radius: v.$border-radius-m;
            }

            @media (width <= 480px) {
                flex-flow: column nowrap;
                align-items: stretch;
                padding: 20px 10px 10px;
                text-align: center;
            }
        }
    }

    @media (width <= 680px) {
        flex-direction: column;
    }

    @media (width <= 480px) {
        align-items: stretch;
    }
}
