@import '../../index';
.main{
  @include flex-column;
  flex-grow: 1;
  @media (max-width: 420px){
    padding-top: 0;
  }
  .section{
    position: relative;
    @include flex-column;
    flex-grow:1;
    gap:20px;
    .button_clear{
      position: absolute;
      top: -115px;
      right: 0;
      @media (max-width: 840px){
        padding: 0 15px;
        top: -65px;
      }
      @media (max-width: 420px){
        position: static;
        align-self: flex-start;
        padding: 20px 0;
      }
    }
    .card-list {
      @include flex-column;
      align-items: center;
      justify-content: space-between;
      flex-grow:1;
      height: 100%;
      width: 100%;
      gap: 50px;
      @media (max-width: 420px){
        position: static;
      }
    }
    .wrapper{
      @include flex-column;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 10px;
      gap: 20px;
      overflow-y: auto;
    }
    .btn-wrapper{
      position: absolute;
      top: -115px;
      right: 10px;
      @media (max-width: 840px){
        padding: 0 15px;
        top: -85px;
      }
      @media (max-width: 420px){
        position: static;
        top: -65px;
        align-self: flex-start;
        padding: 0;
      }
    }
  }
}


