@import '../../../index';
.btn{
  position: relative;
  padding: 10px 25px;
  max-width: 200px;
  border:none;
  border-radius: $border-radius-l;
  text-transform: uppercase;
  transition: all 0.3s,outline 0.1s;
  &:hover,
  &:focus-visible{
    background-color:$effect-color;
    box-shadow: inset 200px 0 0 0 $effect-color;
    transform: scale(1.1);
  }
  &:active{
    animation: pulse 0.3s;
    box-shadow: 0 0 0 2em rgba(#fff,0);
  }
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 $effect-color; }
  }
  @media(max-width: 480px) {
    font-size: 1.1rem;
    width: 90%;
    padding: 15px;
  }
}