@use '../../../style/importer' as v;

.form {
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: auto;
    padding: 15px;

    .label {
        @include v.flex-al-jc-center;
        height: 30px;
        margin-right: 10px;
        padding-right: 10px;
        padding-left: 10px;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
        background-color: rgb(0 0 0 / 50%);
        border-radius: v.$border-radius-s;
    }

    .select {
        min-width: 200px;
        height: 30px;
        font-size: 1rem;
        color: black;
        border-radius: v.$border-radius-s;

        option {
            color: black;
        }
    }
}
