@import '../../../index';

.wrapper {
  .bg {
    position: fixed;
    inset: 0;
    @include flex-al-jc-center;
    background: rgba(86, 84, 84, 0.8);
    font-weight: normal;
    z-index: 5;
  }

  .content {
    @include flex-al-jc-center;
    flex-direction: column;
    min-height: 500px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 30px;
    max-width: 500px;
    background-color: rgb(12, 39, 77);
    border-radius: $border-radius-l;
    z-index: 6;

    .card {
      @include flex-column;
      gap: 10px;
      width: 70%;
      min-width: 200px;
      max-width: 400px;
      height: 200px;
      background-color: indianred;
      border-radius: $border-radius-l;
      padding: 20px;

      .card__info {
        display: flex;
        gap: 10px;
      }
    }

    form {
      width: 100%;
      @include flex-column;
      align-items: flex-start;
      gap: 10px;
      margin-top: 20px;
      text-transform: uppercase;
      .error{
        width: 100%;
        & > p{
          font-size: 1rem;
          color: white;
          padding: 5px;
          font-weight: 500;
          border-radius: 10px;
          background-color: #c51a1a;
        }
      }

      .selects-wrapper {
        display: flex;
        gap: 10px;
        .select {
          border: none;
          height: 40px;
          width: 80px;
          color: dimgrey;
          text-align: center;
          border-radius: 10px;
          font-size: 1rem;
          text-transform: uppercase;
          padding: 0 5px;
          option {
            color: black;
          }

          option:disabled {
            color: dimgrey;
          }
        }
      }

      input {
        width: 100%;
        padding: 5px;
      }

      .valid-title {
        color: white;
        font-size: 1rem;
      }

      .ccv {
        width: 80px;
      }

      label {
        display: contents;
        color: white;

        input {
          appearance: none;
          height: 40px;
          text-align: start;
          width: 100%;
          color: black;
          padding: 0 10px;
          border-radius: 10px;
          outline: none;
          border: none;
          font-size: 1rem;

          &::placeholder {
            text-transform: uppercase;
          }
        }
      }
      .btn-submit {
        display: flex;
        align-self: center;
        justify-content: center;
        padding: 10px 45px;
        background-color: #0f59f3;
        color: white;
        border: none;
        outline: none;
        text-transform: uppercase;
        border-radius: $border-radius-l;
        font-size: 1.2rem;
        min-width: 80px;
        transition: var(--transition);
        &[disabled]{
          background-color: darkgrey;
          cursor: default;
        }
        &:not([disabled]):hover,
        &:not([disabled]):focus-visible {
          transform: scale(1.2);
          outline: 2px solid white;
        }

        &:not([disabled]):active {
          background-color: $effect-color;
          animation: pulse 0.3s;
          box-shadow: 0 0 0 2em rgba(#fff, 0);
        }

        @keyframes pulse {
          0% {
            box-shadow: 0 0 0 0 $effect-color;
          }
        }
        @media(max-width: 480px) {
          width: 90%;
        }
      }
    }
  }

}