@import '../../../index';

.card{
  display: grid;
  grid-template-columns: minmax(250px,1.5fr) minmax(100px,200px) 0.5fr;
  align-items: center;
  padding: 0 10px;
  min-height: 72px;
  gap:20px;
  width: 100%;
  border-bottom: 2px solid var(--color-main);
  border-radius: $border-radius-xl;
  background-color: var(--color-secondary);
  overflow: hidden;
  @media (max-width: 680px){
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 5px;
  }
  .title{
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 5px;
    cursor: pointer;
    @media (max-width: 680px){
      padding: 10px 0 0;
    }
    a{
      display: inline-block;
      width: 100%;
      padding: 5px 10px;
      border-radius: $border-radius-l;
      transition: 0.3s;
      text-align: center;
      &:hover,
      &:focus-visible{
        background-color: $bg-gold;
      }
      &:active{
        box-shadow: $effect-color 0 0 2px 4px;
        background-color: var(--color-secondary);
        transition: 0.2s;
      }
    }
  }
  .price{
    min-width: 150px;
    width: max-content;
    padding: 20px 20px;
    font-size: 1.5rem;
    @media (max-width: 680px){
      padding: 10px 0;
    }
  }
}