@use '../../../index.scss' as v;

.slider {
    width: 100%;
    padding: 20px 0 40px;
    .slider__title {
        text-transform: uppercase;
        padding: 0 20px;
    }
    .slider__swiper {
        margin-top: 30px;
        height: 360px;

        .swiper-button-prev,
        .swiper-button-next {
            @include v.navigation-slides-buttons;
        }
        .swiper-button-prev {
            left: 20px;
        }
        .swiper-button-next {
            right: 20px;
        }
    }
}
