@import '../../index';

main {
  flex-grow: 1;

  .form {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 50%;
    min-width: 280px;

    .input {
      width: 100%;
      font-size: 1.5rem;
      padding: 10px 60px 10px 15px;
      border-radius: $border-radius-l;
      color: $color-black;
    }

    .btn {
      position: absolute;
      width: 48px;
      height: 51px;
      top: 21px;
      border-radius: 50%;
      right: 20px;
      border: none;
      background: url("../../../public/search.png") center center/cover no-repeat;
      &:active {
        animation: pulse 0.3s;
        box-shadow: 0 0 0 2em rgba(#fff, 0.5);
      }

      @keyframes pulse {
        from {
          box-shadow: 0 0 0 0 $color-white;
        }
      }
    }
  }

  .games-list {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;

    .games-item {
      padding: 5px 10px;
      min-width: max-content;
      border-color: transparent;
      border-bottom: 3px solid #808585;
      transition: 0.3s;
      overflow: hidden;
      &:hover,
      &focus-visible {
        transform: scale(1.4);
        //padding: 5px 10px;
        border-top: 3px solid #808585;
        border-radius: $border-radius-l;
      }
      &:active {
        border-radius: $border-radius-l;
        background-color: $color-white;
       & a{
         color:$color-black;
       }
      }
    }
  }
}