@import '../../index';

.main {
  text-align: center;
  .form {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 50%;
    min-width: 250px;
    @media (max-width: 800px) {
      width: 80%;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      padding: 20px 0;
    }

    .input {
      width: 100%;
      font-size: 1.5rem;
      padding: 10px 60px 10px 15px;
      border-radius: $border-radius-l;
      color: $color-secondary;
    }

    .btn {
      position: absolute;
      width: 48px;
      height: 51px;
      top: 21px;
      border-radius: 50%;
      right: 20px;
      border: none;
      background: url("../../../public/search.png") center center/cover no-repeat;
      @media (max-width: 480px) {
        right: 0;
      }

      &:active {
        animation: pulse 0.3s;
        box-shadow: 0 0 0 2em rgba(#fff, 0.5);
      }

      @keyframes pulse {
        from {
          box-shadow: 0 0 0 0 $color-main;
        }
      }
    }
  }

  .games-list {
    @include flex-al-center-column;
    gap: 10px;
    margin: 20px;

    .games-item {
      padding: 5px 10px;
      min-width: fit-content;
      border-color: transparent;
      border-bottom: 3px solid #808585;
      transition: 0.3s;
      overflow: hidden;

      &:hover,
      &focus-visible {
        transform: scale(1.2);
        border-top: 3px solid #808585;
        border-radius: $border-radius-l;
      }

      &:active {
        border-radius: $border-radius-l;
        background-color: $color-main;

        & a {
          color: $color-secondary;
        }
      }
    }
  }
}