:root {
  --bg-body-light: rgb(204,204,204);
  --color-main-light: #000000 ;
  --color-secondary-light: #ffffff;
  --bg-body-dark: #2a2929;
  --color-main-dark: #ffffff;
  --color-secondary-dark: #000000;
  --bg-body: var(--bg-body-dark);
  --color-main: var(--color-main-dark);
  --color-secondary: var(--color-secondary-dark);
  --transition: all 0.2s ease;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-main);
  transition: background-color 0.3s linear, color 0.5s linear;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0 calc(-1 * (100vw - 100%)) 0 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-body);
  color: var(--color-main);
}

button, a {
  cursor: pointer;
  outline: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--color-main);
}

ul {
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px 0;
  min-height: 100vh;
}
@media (max-width: 840px) {
  .App {
    position: relative;
    padding-top: 90px;
  }
}

main {
  position: relative;
  flex-grow: 1;
  padding: 20px 0 20px;
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: steelblue #7B8182;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #7B8182;
}

*::-webkit-scrollbar-track:hover {
  background-color: #A4AAAC;
}

*::-webkit-scrollbar-track:active {
  background-color: #A4AAAC;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: steelblue;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: steelblue;
}

*::-webkit-scrollbar-thumb:active {
  background-color: darkred;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  text-align: center;
}
.main .form {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 50%;
  min-width: 250px;
}
@media (max-width: 800px) {
  .main .form {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .main .form {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .main .form {
    padding: 20px 0;
  }
}
.main .form .input {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 60px 10px 15px;
  border-radius: 25px;
  background-color: var(--color-main);
  color: var(--color-secondary);
}
.main .form .btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 21px;
  border-radius: 50%;
  right: 20px;
  border: none;
  transition: var(--transition);
}
@media (max-width: 480px) {
  .main .form .btn {
    right: 0;
  }
}
.main .form .btn:hover, .main .form .btn:focus-visible {
  transform: rotate(45deg);
}
.main .form .btn:active {
  animation: pulse 0.3s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0.5);
}
.main .form .btn > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 5px black);
}
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 var(--color-main);
  }
}
.main .games-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(70px, auto);
  justify-items: center;
  align-items: center;
  gap: 15px;
  margin: 20px;
}
.main .games-list .game-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .games-list .game-item .game-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2px 10px 5px;
  font-size: 1.2rem;
  border: 2px solid var(--color-main);
  transition: var(--transition);
}
.main .games-list .game-item .game-link:hover, .main .games-list .game-item .game-link:focus-visible {
  transform: scale(1.1);
  background-color: steelblue;
  border: 2px solid var(--color-main);
  border-radius: 25px;
}
.main .games-list .game-item .game-link:hover, .main .games-list .game-item .game-link:focus-visible {
  transform: scale(0.9);
  background-color: steelblue;
  border: 2px solid var(--color-main);
  border-radius: 25px;
}
.main .games-list .game-item .game-link:active {
  padding: 2px 10px 5px;
  border-radius: 15px;
  background-color: var(--color-main);
  color: var(--color-secondary);
}

/*# sourceMappingURL=SearchPage.module.css.map */
