@use '../../style/importer' as v;

.genres {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-end;
    align-self: flex-start;

    .genre {
        @include v.text-shadow;
        padding: 5px 10px;
        color: white;
        background-color: v.$bg-gold;
        border-radius: v.$border-radius-m;
    }
}
