@use '../../style/importer' as v;

%before {
    @include v.background-btn;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.nav {
    @include v.flex-al-center;
    gap: 30px;

    &.desktop {
        justify-content: space-between;
        width: 100%;
        height: 100%;

        @media (width <=840px) {
            display: none;
        }
    }

    .link {
        @include v.flex-al-jc-center;
        position: relative;
        overflow: hidden;
        width: max-content;
        height: 35px;
        padding: 4px 12px;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--color-main);
        text-align: center;
        text-transform: uppercase;
        border-radius: v.$border-radius-l;
        transition: var(--transition);

        &::before {
            @extend %before;
            width: 0;
            transition: width 0.3s ease-in-out;
        }

        span {
            position: relative;
            z-index: 1;
        }

        &:hover span,
        &:focus-visible span {
            color: white;
        }

        &:hover::before,
        &:focus-visible::before {
            width: 100%;
            color: white;
        }

        &:active {
            transform: scale(0.9);
        }

        &.active_link span {
            color: white;
        }

        &.active_link::before {
            @extend %before;
            width: 100%;
        }
    }

    &.nav_mobile {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 80px 10px 45px;
        background: var(--bg-body);
        border: 2px solid transparent;

        .link {
            min-width: 200px;
            text-align: center;
        }

        @media (width >=841px) {
            display: none;
        }
    }

}