@use '../../../style/importer' as v;

.wrapper {

    .bg {
        @include v.flex-al-jc-center;
        position: fixed;
        z-index: 5;
        inset: 0;
        font-weight: normal;
        background: rgb(86 84 84 / 80%);
    }

    .content {
        @include v.flex-al-jc-center;
        position: absolute;
        z-index: 6;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        width: 90%;
        max-width: 500px;
        min-height: 500px;
        padding: 30px;
        font-weight: normal;
        background-color: rgb(12 39 77);
        border-radius: v.$border-radius-l;

        .card {
            @include v.flex-column;
            gap: 10px;
            width: 70%;
            min-width: 200px;
            max-width: 400px;
            height: 200px;
            padding: 20px;
            background-color: indianred;
            border-radius: v.$border-radius-l;

            .card__info {
                display: flex;
                gap: 10px;
            }
        }
    }
}
