@use '../../../../style/importer' as v;

.arrow-box {
    @include v.flex-al-jc-center;
    @include v.background-btn;
    position: fixed;
    z-index: 4;
    right: 2rem;
    bottom: 3rem;
    width: 60px;
    height: 60px;
    border-color: transparent;
    border-radius: 50%;
    transition: var(--transition);

    .image {
        transform: rotate(90deg);
        width: 45px;
        height: 45px;

        svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: white;
        }
    }

    &:hover,
    &:focus-visible {
        box-shadow: var(--color-main) 0 0 0 4px;
    }

    &:active svg {
        animation: top-back 0.3s ease-in backwards;
    }

    @keyframes top-back {

        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(-50px);
            opacity: 0.5;
        }

        100% {
            transform: translateX(-100px);
            opacity: 0;
        }
    }
}