@use '../../../style/importer' as v;

.card {
    overflow: hidden;
    display: grid;
    grid-template-columns: 200px minmax(200px, 1fr) minmax(100px, 200px) 0.5fr;
    gap: 20px;
    align-items: center;
    width: 100%;
    min-height: 72px;
    padding: 10px;
    background-color: var(--color-secondary);
    border-bottom: 2px solid var(--color-main);
    border-radius: v.$border-radius-xl;

    .poster {
        aspect-ratio: 16/9;
        width: 200px;

        &__img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: v.$border-radius-l;
        }
    }

    .title {
        cursor: pointer;
        flex-grow: 1;
        padding: 10px 5px;
        font-size: 1.5rem;
        font-weight: bold;

        a {
            display: inline-block;
            width: 100%;
            padding: 5px 10px;
            text-align: center;
            border-radius: v.$border-radius-l;
            transition: var(--transition);

            &:hover,
            &:focus-visible {
                color: white;
                background-color: v.$bg-gold;
            }

            &:active {
                background-color: var(--color-secondary);
                box-shadow: v.$effect-color 0 0 2px 4px;
                transition: var(--transition);
            }
        }

        @media (width <= 680px) {
            padding: 10px 0 0;
        }
    }

    .price {
        width: max-content;
        min-width: 150px;
        padding: 20px;
        font-size: 1.5rem;

        @media (width <= 680px) {
            padding: 10px 0;
        }
    }

    @media (width <= 680px) {
        grid-template-columns: 1fr;
        gap: 5px;
        justify-items: center;
        text-align: center;
    }
}
