@use '../../../style/importer' as v;

.section {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    width: 100%;
    padding: 40px 0;
    background: linear-gradient(45deg, darkgray, transparent);
    border-radius: v.$border-radius-m;
    box-shadow: black 0 0 4px 2px;

    .title {
        grid-column: 1/-1;
        padding: 10px 20px;
        font-size: 3rem;
        text-align: center;

        @media (width <= 640px) {
            padding: 20px 20px 0;
            font-size: 2rem;
        }

        @media (width <= 480px) {
            text-align: center;
        }
    }

    @media (width <= 940px) {
        padding: 40px 0 20px;
    }
}
