@use '../../../style/importer' as v;

.cart__info {
    @include v.flex-al-center;
    gap: 10px;

    .btn-toggle {
        @include v.flex-al-jc-center;
        cursor: pointer;
        position: relative;
        z-index: 4;
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        background: linear-gradient(0deg,
                rgb(70 68 68) 10%,
                rgb(59 58 58) 30%,
                rgb(2 1 1) 50%,
                rgb(112 111 111) 70%,
                rgb(70 68 68) 90%);
        border-radius: 50%;
        outline: none;
        box-shadow: inset rgb(0 0 0) 0 0 1px 1px;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
        }

        &:active {
            box-shadow: inset rgb(0 0 0) 0 0 2px 4px;
        }

        &:hover:not(:active),
        &:focus-visible:not(:active) {
            box-shadow: inset rgb(99 181 243) 0 0 2px 4px;
        }

        &__icon {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            outline: none;
            transition: var(--transition);
        }

        &:active .btn-toggle__icon {
            transform: scale(0.9);
        }

    }

    .total-price {
        position: relative;
        z-index: 3;
        flex-shrink: 0;
        padding: 5px 20px;
        font-weight: 700;
        color: var(--color-secondary);
        background-color: var(--color-main);
        border-radius: v.$border-radius-s;
        box-shadow: var(--color-main) 0 0 0 2px;

        &::before {
            @include v.flex-al-jc-center;
            content: attr(data-count);
            position: absolute;
            top: -5px;
            bottom: 0;
            left: -15px;
            width: 30px;
            height: 30px;
            font-size: 1.125rem;
            font-weight: bold;
            color: white;
            background-image: linear-gradient(indianred 20%, #9f3535 80%);
            border: none;
            border-radius: 50%;

            @media (width <=840px) {
                top: -16px;
                left: -12px;
            }
        }
    }
}