@import '../../index';

.card{
  @include flex-al-center-column;
  height: 100%;
  width: 100%;
  gap:10px;
  padding: 10px 10px 15px;
  border: 1px solid var(--color-main);
  background-color: var(--color-secondary);
  border-radius: $border-radius-m;
  .card__title{
    font-size: 1.5rem;
    font-weight: bold;
    flex-grow: 1;
  }
  .card__img{
    width: 200px;
    height: 200px;
    max-width: 400px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid var(--color-main);
    cursor: pointer;
    transition: var(--transition);
    &:hover,
    &:focus-within{
      border-radius: $border-radius-m;
      width:90%;
    }
    & > a {
      display: block;
      height: 100%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .poster{
      object-position: top;
    }
  }
}