@import '../../index';

.card{
  @include flex-al-center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap:10px;
  padding: 10px 10px 15px;
  border: 1px solid $color-white;
  background-color: $color-black;
  .card__title{
    font-size: 1.5rem;
    font-weight: bold;
    flex-grow: 1;
  }
  .card__img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid $color-white;
    cursor: pointer;
    transition: 0.3s;
    &:hover,
    &:focus-visible{
      border-radius: $border-radius-m;
      width: 90%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}