@use '../../index.scss' as v;

.section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    @media (max-width: 940px) {
        padding-bottom: 20px;
    }

    .swiper {
        position: relative;
        width: 100%;
        height: min(67vw, calc(100vh - 120px));

        img {
            // display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .swiper-slide {
            width: 100%;
            height: 100%;
            .swiper-bg {
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;

                .swiper-bg__title {
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: clamp(2rem, 10vw, 10rem);
                    text-align: center;
                    color: white;
                    text-shadow: 3px 3px black;
                }
            }
        }

        .swiper-scrollbar {
            position: absolute;
            background-color: rgba(240, 235, 235, 0.4);
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            z-index: 1;

            .swiper-scrollbar-drag {
                height: 4px;
                background-color: white;
                border-radius: v.$border-radius-m;
            }
        }
    }

    .description {
        padding: 20px 0;
        font-size: 1.2rem;
        flex-grow: 1;
    }
}
