@use '../../style/importer' as v;

.section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;

    .swiper {
        position: relative;
        width: 100%;
        height: min(67vw, calc(100vh - 120px));

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper-slide {
            width: 100%;
            height: 100%;

            .swiper-bg {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;

                .swiper-bg__title {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    font-size: clamp(2rem, 10vw, 10rem);
                    color: white;
                    text-align: center;
                    text-shadow: 3px 3px black;
                }
            }
        }

        .swiper-scrollbar {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            background-color: rgb(240 235 235 / 40%);

            .swiper-scrollbar-drag {
                height: 4px;
                background-color: white;
                border-radius: v.$border-radius-m;
            }
        }
    }

    .description {
        flex-grow: 1;
        padding: 20px 0;
        font-size: 1.2rem;
    }

    @media (width <= 940px) {
        padding-bottom: 20px;
    }
}
