@import '../../index';

.header{
  padding: 30px 10px;
  background-color: var(--bg-body);
  border-radius: $border-radius-m;
  margin-top: 10px;
  box-shadow: black 0 0 4px 2px;
  @media (max-width: 840px){
    padding: 0;
    box-shadow: none;
  }
  .wrapper{
    max-width:1180px;
    margin: auto;
    min-height: 60px;
    @include flex-al-center;
    justify-content: space-between;
    padding: 0 5px;
    @media (max-width: 840px){
      position: absolute;
      top: 25px;
      left: 0;
      width: 100%;
      padding: 0;
    }
    .button-burger{
      position: absolute;
      height: 65px;
      width: 65px;
      left: 0;
      top: 0;
      overflow: hidden;
      border-radius: 50%;
      background-color: transparent;
      border: none;
      transition: var(--transition);
      z-index: 4;
      &:before{
        content: '';
        position: absolute;
        inset: 0;
        z-index: 4;
      }
      &:hover,
      &:focus-visible {
        .burger{
          transform: scale(1.3);
        }
      }
      &:active{
       .burger{
         transform: rotateY(180deg);
       }
      }
      .burger{
        display: none;
        width: 70px;
        height: 70px;
        padding: 10px;
        transition: var(--transition);
        outline: none;
        @media (max-width: 840px){
          display: block;
          width: 100%;
          height: 100%;
          cursor: default;
          z-index: 3;
          path{
            fill: var(--color-main);
            stroke: var(--color-main);
          }
        }
      }
    }
    .nav{
      @include flex-al-center;
      gap: 30px;
      transition: var(--transition);
      @media (max-width: 840px){
        position: absolute;
        left: 0;
        flex-direction: column;
        align-items: center;
        padding: 120px 10px 45px;
        width: 100%;
        transform: translateY(-90%);
        z-index: 2;
        background: var(--bg-body);
        opacity: 0;
        visibility: hidden;
        &.nav_mobile{
          transform: translateY(30%);
          opacity: 1;
          border: 2px solid transparent;
          visibility: visible;
          z-index: 3;
        }
      }
      .link{
        font-size: 1.2rem;
        font-weight: bold;
        padding: 4px 15px;
        height: 35px;
        text-transform: uppercase;
        background: linear-gradient(0deg, rgb(70, 68, 68) 10%, rgb(59 58 58) 30%, rgb(2 1 1) 50%, rgb(112 111 111) 70%, rgb(70, 68, 68) 90%);
        border-radius:$border-radius-l;
        box-shadow: black 0 0 2px 4px;
        color:white;
        &:hover,
        &:focus-visible{
          background-image: linear-gradient(#464545 33%, #3a3939 60%, #383737 100%);
          text-shadow: #1d6bcc 2px 2px 5px, #1d6bcc -2px -2px 5px;
          border-radius:$border-radius-l;
          box-shadow: 0 0 2px 4px #3374f5;
          color: white;
        }
        &:active{
          box-shadow: #000000 0 0 0 4px;
        }
        &.active_link{
          text-shadow: #2a89c7 2px 2px 3px, #2a89c7 -2px -2px 3px;
          border-radius:$border-radius-l;
          box-shadow: 0 0 0 4px #3374f5;
          color: white;
          &:focus-visible{
            box-shadow: inset 0 0 0 3px #3374f5;
          }
        }
      }
    }
  }
}



