@import '../../index';

.card{
  display: flex;
  align-items: center;
  width: 100%;
  gap:20px;
  border-bottom: 2px solid $color-white;
  border-radius: $border-radius-l;
  background-color: $color-black;
  overflow: hidden;
  @media (max-width: 600px){
    flex-direction: column;
    gap:0;
  }
  .title{
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    a{
      padding: 5px 15px;
      border-radius: $border-radius-l;
      &:hover,
      &:focus-visible{
        background-color: $details-bg;
      }
      &:active{
        box-shadow: $effect-color 0 0 2px 4px;
        background-color: $color-black;
        letter-spacing: 1px;
        transition: 0.2s;
      }
    }
  }
  .price{
    max-width: max-content;
    padding: 20px 40px;
    font-size: 1.5rem;
  }
}