@use '../../../index.scss' as v;

.skeleton-row {
    background-color: dimgrey;
    border-radius: v.$border-radius-m;
    animation: loading 1s linear infinite;

    @keyframes loading {
        from {
            opacity: 1;
        }
        to {
            opacity: 0.7;
        }
    }
}
