@use '../../../../style/importer' as v;

.favorite-sign {
    @include v.flex-al-center;
    cursor: pointer;
    user-select: none;
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    transition: var(--transition);

    &:hover,
    &:focus-visible {
        transform: scale(1.2);
    }

    path {
        fill: var(--color-main);
    }

    &:active {
        transform: scale(1);
    }
}

.favorite-sign_add {

    path {
        fill: gold;
    }
}

.favorite-sign_add:hover path,
.favorite-sign_add:focus-visible path {
    fill: gold;
}