.favorite-sign {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    cursor: default;
    user-select: none;
    transition: var(--transition);
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover,
    &:focus-visible {
        transform: scale(1.2);
    }
    path {
        fill: var(--color-main);
    }
    &:hover path,
    &:focus-visible path {
        fill: gold;
    }
    &:active {
        transform: scale(1);
    }
}
.favorite-sign_add {
    path {
        fill: gold;
    }
}
