@import '../../../index';

.wrapper{
  position: fixed;
  top:80%;
  right: 10px;
  @include flex-al-center-column;
  gap:10px;
  z-index: 2;
  transition: var(--transition);

  @media (max-width:960px) and (orientation: landscape) {
    top:70%;
  }
}