:root {
  --bg-body-light: rgb(204,204,204);
  --color-main-light: #000000 ;
  --color-secondary-light: #ffffff;
  --bg-body-dark: #2a2929;
  --color-main-dark: #ffffff;
  --color-secondary-dark: #000000;
  --bg-body: var(--bg-body-dark);
  --color-main: var(--color-main-dark);
  --color-secondary: var(--color-secondary-dark);
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0 calc(-1 * (100vw - 100%)) 0 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-body);
  color: var(--color-main);
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-main);
}

button, a {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: var(--color-main);
}

ul {
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px 0;
  min-height: 100vh;
}
@media (max-width: 840px) {
  .App {
    position: relative;
    padding-top: 90px;
  }
}

main {
  position: relative;
  flex-grow: 1;
  padding: 20px 0 20px;
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: steelblue #7B8182;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #7B8182;
}

*::-webkit-scrollbar-track:hover {
  background-color: #A4AAAC;
}

*::-webkit-scrollbar-track:active {
  background-color: #A4AAAC;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: steelblue;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: steelblue;
}

*::-webkit-scrollbar-thumb:active {
  background-color: darkred;
}

.bg {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(86, 84, 84, 0.8);
  font-weight: normal;
  z-index: 5;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 30px 15px 15px;
  max-width: 500px;
  background-color: rgb(3, 26, 58);
  border-radius: 25px;
  z-index: 6;
}
.popup .title {
  font-weight: normal;
}
.popup .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
  font-weight: normal;
}
.popup .content .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  min-width: 200px;
  max-width: 400px;
  height: 200px;
  background-color: indianred;
  border-radius: 25px;
  padding: 20px;
}
.popup .content .card .card__info {
  display: flex;
  gap: 10px;
}
.popup .content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}
.popup .content form .valid-wrapper {
  width: 100%;
  display: flex;
}
.popup .content form .valid-wrapper .selects-wrapper {
  display: flex;
  gap: 10px;
}
.popup .content form .valid-wrapper .selects-wrapper .select {
  border: none;
  height: 40px;
  width: 80px;
  color: dimgrey;
  text-align: center;
  border-radius: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 5px;
}
.popup .content form .valid-wrapper .selects-wrapper .select option {
  color: black;
}
.popup .content form .valid-wrapper .selects-wrapper .select option:disabled {
  color: dimgrey;
}
.popup .content form .valid-wrapper input {
  width: 100%;
  padding: 5px;
}
.popup .content form .valid-title {
  color: white;
}
.popup .content form .ccv {
  width: 80px;
}
.popup .content form label {
  display: contents;
  color: white;
}
.popup .content form label input {
  appearance: none;
  height: 40px;
  text-align: start;
  width: 100%;
  color: black;
  padding: 0 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 1rem;
}
.popup .content form label input::placeholder {
  text-transform: uppercase;
}
.popup .content form .btn-submit {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #0f59f3;
  color: white;
  border: none;
  outline: none;
  text-transform: uppercase;
  border-radius: 25px;
  font-size: 1.2rem;
  min-width: 80px;
  transition: all 0.2s linear;
}
.popup .content form .btn-submit:hover, .popup .content form .btn-submit:focus-visible {
  transform: scale(1.2);
  outline: 2px solid white;
}
.popup .content form .btn-submit:active {
  background-color: #5b955b;
  animation: pulse 0.3s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #5b955b;
  }
}
@media (max-width: 480px) {
  .popup .content form .btn-submit {
    width: 90%;
  }
}

/*# sourceMappingURL=PaymentForm.module.css.map */
