@import '../../index';

.footer{
  .wrapper{
    @include flex-al-center;
    justify-content: space-between;
    max-width:1180px;
    margin: auto;
    padding: 40px 10px;
    @media (max-width: 600px){
      flex-direction: column;
      gap:20px;
      text-align: center;
    }
    a{
      font-size: 1.5rem;
      padding: 5px 10px;
      font-weight: bold;
      color: var(--color-main);
      &:hover,
      &:focus-visible{
        outline: none;
        border-radius: $border-radius-l;
        box-shadow: var(--color-main) 0 0 2px 2px;
      }
      &:active{
        box-shadow: var(--color-main) 0 0 2px 6px;
      }
    }
  }
}