@use '../../style/importer' as v;

.footer {
    box-shadow: black 0 0 4px 2px;

    .wrapper {
        @include v.flex-al-center;
        justify-content: space-between;
        max-width: 1180px;
        margin: auto;
        padding: 40px 35px;

        a {
            padding: 5px 10px;
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--color-main);

            &:hover,
            &:focus-visible {
                border-radius: v.$border-radius-l;
                outline: none;
                box-shadow: var(--color-main) 0 0 2px 2px;
            }

            &:active {
                box-shadow: var(--color-main) 0 0 2px 6px;
            }
        }

        @media (width <= 600px) {
            flex-direction: column;
            gap: 20px;
            text-align: center;
        }
    }
}
