@use '../../../index.scss' as v;

.skeleton-slider {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
    .skeleton-slider__title {
        display: inline-block;
        height: 32px;
        width: 200px;
        background-color: dimgrey;
        border-radius: v.$border-radius-m;
        animation: loading 1s linear infinite;
    }
    .skeleton-slider__list {
        @include v.flex-al-center;
        gap: 20px;
        .skeleton-slider__item {
            flex-shrink: 0;
            width: 268px;
            height: 358px;
            display: inline-block;
            background-color: dimgrey;
            border-radius: v.$border-radius-m;
            animation: loading 1s linear infinite;
        }
    }

    @keyframes loading {
        from {
            opacity: 1;
        }
        to {
            opacity: 0.7;
        }
    }
}
