.game-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: auto;
  background-color: rgb(36, 37, 41);
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: #252323 0 0 10px 2px;

  .details {
    padding: 10px 20px 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;

    .title {
      font-size: 18px;
      padding: 5px 0;
      font-weight: bold;
    }

    .genres__list {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      align-items: start;
      gap: 5px;

      .genre {
        padding: 5px 10px;
        border-radius: 15px;
        background-color: #3a3838;
      }
    }

    &__secondary {
      font-size: 14px;
      padding: 5px 0;

      & p {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        &:nth-child(2) {
          border-top: 1px solid grey;
          border-bottom: 1px solid grey;
        }
      }
    }
  }
}
