@use '../../style/importer' as v;

.purchase {
    @include v.flex-al-center;
    gap: 15px;
    align-self: end;
    justify-content: space-between;
    width: fit-content;
    min-width: 248px;
    max-height: 45px;
    padding: 2px 2px 2px 15px;
    font-weight: bold;
    color: var(--color-secondary);
    background-color: var(--color-secondary);
    border-radius: v.$border-radius-l;
    box-shadow: black 0 0 2px 1px inset;

    *:not(button) {
        color: var(--color-main);
    }

    .price {
        font-size: 1.5rem;
    }

    @media (width <=480px) {
        flex-direction: column;
        gap: 5px;
        width: 100%;
        height: auto;
        max-height: none;
        padding: 5px;
        border-radius: 50px;
    }
}