body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a2929;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}

button, a {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px 0;
  min-height: 100vh;
}
@media (max-width: 840px) {
  .App {
    position: relative;
    padding-top: 90px;
  }
}

main {
  position: relative;
  flex-grow: 1;
  padding: 20px 0 20px;
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: steelblue #7B8182;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #7B8182;
}

*::-webkit-scrollbar-track:hover {
  background-color: #A4AAAC;
}

*::-webkit-scrollbar-track:active {
  background-color: #A4AAAC;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: steelblue;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: steelblue;
}

*::-webkit-scrollbar-thumb:active {
  background-color: darkred;
}

.bg {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 58, 77, 0.93);
  z-index: 5;
}
.bg .popup {
  width: 80%;
  padding: 15px;
  max-width: 500px;
  box-shadow: inset 0px 0px 14px 2px black;
  border-radius: 20px;
  background: linear-gradient(180deg, rgb(103, 163, 115) 6%, rgb(132, 182, 143) 38%, rgb(115, 172, 127) 65%, rgb(103, 163, 115) 85%);
}
.bg .popup * {
  color: black;
  text-align: center;
}
.bg .popup .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.bg .popup .content .title {
  font-size: 2rem;
}
.bg .popup .content .title::first-letter {
  text-transform: uppercase;
}
.bg .popup .content .text {
  font-size: 1.4rem;
}
.bg .popup .content .text::first-letter {
  text-transform: uppercase;
}
.bg .popup .content .text__span {
  color: #ffffff;
  font-weight: bold;
  text-shadow: #520b0b 0 0 2px;
}
.bg .popup .content .icon-wrapper {
  width: 40%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.bg .popup .content .icon-wrapper:hover, .bg .popup .content .icon-wrapper:focus-visible {
  background: rgb(0, 60, 255);
}
.bg .popup .content .icon-wrapper:active {
  background-color: white;
}
.bg .popup .content .icon-wrapper:active .icon-close {
  filter: drop-shadow(0px 1px 3px black);
  transform: scale(0.95);
}
.bg .popup .content .icon-wrapper .icon-close {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(2px 4px 6px black);
  transition: 0.2s;
}

/*# sourceMappingURL=OrderModal.module.css.map */
