@import '../../../index';
.game-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  height: auto;
  background-color: rgb(36, 37, 41);
  border-radius: $border-radius-m;
  overflow: hidden;
  box-shadow: #252323 0 0 10px 2px;
  .skeleton{
    position: absolute;
    inset:0;
    z-index: 1;
    background-color: dimgrey;
  }
  .details {
    padding: 10px 20px 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
    .title {
      font-size: 1.5rem;
      padding: 10px 0;
      font-weight: bold;
    }
    
    &__secondary {
      padding: 5px 0;

      & p {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        &:nth-child(2) {
          border-top: 1px solid grey;
          border-bottom: 1px solid grey;
        }
      }
    }
  }
}
