@use 'style/importer.scss' as v;

:root {
    --bg-body-light: rgb(204 204 204);
    --color-main-light: #000;
    --color-secondary-light: #fff;
    --color-blue-light: #221bdf;
    --bg-body-dark: #2a2929;
    --color-main-dark: #fff;
    --color-secondary-dark: #000;
    --color-blue-dark: #0d0b4f;
    --transition: all 0.2s ease;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-main);
    transition: background-color 0.3s linear, color 0.5s linear;
    -webkit-tap-highlight-color: transparent;
}

body {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0 calc(-1 * (100vw - 100%)) 0 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    color: var(--color-main);
    background-color: var(--bg-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.light {
    --bg-body: var(--bg-body-light);
    --color-main: var(--color-main-light);
    --color-secondary: var(--color-secondary-light);
    --color-blue: var(--color-blue-light);
    color: var(--color-main);
    background-color: var(--bg-body);

    .bg-shoppage {
        @include v.container-bg;
        background: linear-gradient(90deg, #588bae, #cbf0ff);
        filter: blur(5px);
    }

    .bg-homepage {
        @include v.container-bg;
        background: url('./assets/home-page-bg-light.webp') center center/cover no-repeat;
        filter: blur(5px);
    }
}

body.dark {
    --bg-body: var(--bg-body-dark);
    --color-main: var(--color-main-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-blue: var(--color-blue-dark);
    color: var(--color-main);
    background-color: var(--bg-body);

    .bg-shoppage {
        @include v.container-bg;
        background: linear-gradient(90deg, #181a1e, #373a40, #484c56);
    }

    .bg-homepage {
        @include v.container-bg;
        background: url('./assets/home-page-bg.webp') center center/cover no-repeat;
        filter: blur(5px);
    }
}

button,
a {
    cursor: pointer;
    user-select: none;
    outline: none;
}

a {
    color: var(--color-main);
    text-decoration: none;
}

ul {
    list-style: none;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media (width <= 840px) {
        position: relative;
        padding-top: 90px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

main {
    position: relative;
    flex-grow: 1;
    padding: 20px 0;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: #7b8182;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

*::-webkit-scrollbar-track:hover {
    background-color: #a4aaac;
}

*::-webkit-scrollbar-track:active {
    background-color: #a4aaac;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-main);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--color-secondary);
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    border: 0;
}
