@import '../../../index';

%inner-size{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 20px
}
.media{
  display: flex;
  flex-direction: column;
  gap: 20px;
  .img-box{
    width: 500px;
    border-radius: $border-radius-m;
    overflow: hidden;
    box-shadow: $color-white 0 0 5px 2px;
    @media (max-width: 1020px){
      width: 100%;
      border-radius: $border-radius-m $border-radius-m 0 0;
      box-shadow: none;
    }
    img{
      width: 100%;
      object-fit: cover;
      object-position: top;
      aspect-ratio: 1/1;
      max-height: 500px;
    }
  }
  //.movies{
  //  display: grid;
  //  grid-template-columns: repeat(2,300px);
  //  gap: 20px;
  //  .movies__item{
  //
  //  }
  //}
  .links{
    @extend %inner-size;
    a{
      background-color: $details-bg;
      padding: 5px 10px;
      border-radius: $border-radius-m;
      &:hover{
        padding: 5px 10px;
      }
    }
  }
  .platforms{
    .platforms-title{
      padding: 0 20px;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .platforms-list{
      @extend %inner-size;
      .platforms__item{
        padding: 5px 10px;
        border-radius: $border-radius-m;
        background-color: $primary-color;
      }
    }
  }
}