@import '../../../index';

.media{
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 1;
  .img-box{
    width: 100%;
    position: relative;
    border-radius: $border-radius-m;
    overflow: hidden;
    box-shadow: $color-white 0 0 5px 2px;
    min-height: 400px;
    height: 100%;
    @media (max-width: 940px){
      border-radius: 0;
      box-shadow: none;
    }
    @media (max-width: 500px){
      min-height: auto;
      height: 250px;
    }

    img{
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0;
      object-fit: cover;
      object-position: center;
    }
  }
}