@import '../../../index';

.media{
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 1;
  .img-box{
    width: 100%;
    position: relative;
    border-radius: $border-radius-m;
    overflow: hidden;
    box-shadow: $color-white 0 0 5px 2px;
    height: 400px;
    @media (max-width: 840px){
      border-radius: 0;
      box-shadow: none;
    }
    @media (max-width: 500px){
      height: 250px;
    }

    img{
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0;
    }
  }
}