@use '../../../style/importer' as v;

.develops {
    font-size: 1.2rem;

    .develops__list {
        @include v.flex-column;
        gap: 5px;
        width: max-content;
        padding: 5px 0;

        li {
            font-weight: bold;
            font-style: italic;
        }
    }
}
