@import '../../index';
.game{
  position: relative;
  padding: 10px 0;
  display: block;
  flex-grow: 1;
  overflow: hidden;
  @media (max-width: 940px){
    padding: 20px 0 ;
  }
  .title{
    font-size:3rem;
    grid-column: 1/-1;
    padding: 10px 20px;
    text-align: center;
    @media (max-width: 640px){
      font-size:2rem;
      padding: 20px 20px 0;
    }
    @media(max-width: 480px){
      text-align: center;
    }
  }
  .section{
    position: relative;
    width: 100%;
    display: grid;
    padding: 40px 20px 40px;
    background-color: var(--bg-body);
    box-shadow: black 0 0 4px 2px inset;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    border-radius: $border-radius-m;
    @media (max-width: 940px){
      grid-template-columns: 1fr;
      padding: 40px 0 20px;
    }
  }
}
