@use '../../../style/importer' as v;

.wrapper {
    @include v.flex-al-center;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    border-radius: v.$border-radius-xl v.$border-radius-xl 0 0;
    box-shadow: #000 0 -7px 7px 0;

    .total-price {
        display: flex;
        gap: 5px;
        align-items: baseline;
        font-size: 1.2rem;
        font-weight: bold;

        span {
            padding: 5px;
            font-size: 1.5rem;
        }

        .price {
            padding: 5px 15px;
            background: var(--bg-body);
            border-radius: v.$border-radius-l;
            box-shadow: inset 0 0 8px 2px var(--color-main);
        }

        @media (width <= 400px) {
            flex-direction: column;
            align-items: center;
        }
    }

    @media (width <= 600px) {
        flex-direction: column;
    }
}
